/*------------------------------------*\
    BASE
\*------------------------------------*/
/**
 * Place any variables that should override inuit.cssâ€™ defaults here.
 */
$base-font-size:		16px;
$base-font-family:		'';

$title-font-size:		24px;
$title-font-family:		'';

$base-line-height:  	24px;


/*------------------------------------*\
    COLORS
\*------------------------------------*/
/**
 * Every colors used on the project.
 */
$brown:			#402b00;
$yellow:		#F0AD4E;