/*------------------------------------*\
    OVERRIDE
\*------------------------------------*/
 .container {
 	padding: 		0;

 	a {
 		color: $brown;
 	}
 }



/*------------------------------------*\
    DEFAULT
\*------------------------------------*/
 .wrapper {
 	border-bottom: 	1px solid $brown;
 }



/*------------------------------------*\
    HEADER
\*------------------------------------*/

 .ctr-header {
 	padding: 	10px 0;

 	/* Logo align */
 	.col-xs-12,
 	.col-sm-12 {
 		text-align: center;
 	}

 	.nav {
 		padding: 20px 0;

 		li {
 			margin: 0 20px;

 			&:last-child {
 				margin-right: 0;
 			}
 		}

 		li > a {
 			background: #F1F1F1;
 			color: 		#333333;

 			@include vendor(transition, all .25s ease-in-out);
 		}

 		li:hover > a,
 		.active > a {
 			background: $brown;
 			color: 		#F1F1F1;
 		}
 	}

 	.nav-pills {
 		float: right;
 	}

	/* Menu align */
 	@media (max-width: 992px) {
 	 	.nav-pills {
 	 		clear: both;
 	 		float: none;
 	 	}
 	}
 	 @media (max-width: 768px) {
 	 	.nav-pills > li {
 	 		float: none;
 	 	}
 	 }
 }



/*------------------------------------*\
    LOGIN
\*------------------------------------*/
.login {
	padding: 20px;

	.alert {
		display: none;
		padding: 6px 15px;
	}
}

/*------------------------------------*\
    BODY
\*------------------------------------*/
.payable-accounts {
	.table {
		thead {
			font-weight: bold;
		}
		tbody tr {
			cursor: pointer;
		}
	}
}

.modal-payment {
	.modal-body {
		position: relative;
	}

	.modal-number {
		top: 60px;
		left: 200px;
	}

	.modal-docdate {
		top: 124px;
		left: 123px;
	}

	.modal-docdate2 {
		top: 124px;
		left: 523px;
	}

	.modal-info {
		color: #000;
		font-size: 10px;
		font-weight: bold;
		position: absolute;
	}

	.modal-desc {
		top: 322px;
		left: 124px;
	}

	.modal-value {
		top: 150px;
		left: 740px;
	}

	.modal-owner {
		top: 310px;
		left: 124px;
	}

	.modal-date {
		top: 72px;
		left: 734px;
	}

	.modal-docnumber {
		top: 35px;
		left: 405px;
		font-size: 15px;
	}
}